
- var menuValue = ["Главная", "О нас", "Услуги", "Команда", "Контакты"]

header.header(data-aos="fade-down")
  .header__inner
    a.logo(href="#")
      img(src="images/logo.png", alt="logo")
    .container.header__container 
      nav.menu
        ul.menu__list 
            li.menu__item
              a.menu__link(href="#home") Главная
            li.menu__item
              a.menu__link(href="#about") О нас
            li.menu__item
              a.menu__link(href="#services") Услуги
            li.menu__item
              a.menu__link(href="#team") Команда
            li.menu__item
              a.menu__link(href="#contact") Контакты
    button.header__btn



  