

section.about 
  .container 
    .about__inner 
      .about__content 
        span.subtitle Мы особенные
        h2.title.about__title Мы особое креативное агенство
        p.about__text Наша цифровая компания занимается разработкой продуктов уже 15 лет.
        p.about__text Мы получили множество наград за нашу работу и разработку приложений, которые стали популярными во всем мире. Мы не упускаем важные детали в каждой сфере.
        p.about__text Каждое утро в нашей компании начинается с горячего кофе. Обсуждение - важная вещь в процессе разработки. Так рождаются новые идеи и оригинальные решения. Затем мы приступаем к работе с новой энергией и вдохновением. Нам никогда не бывает скучно. 
      .about__box 
        .about__images 
          picture 
            source.about__img-one(srcset="images/photo-1.webp" type="image/webp")
            img.about__img-one(src="images/photo-1.jpg", alt="Photo") 
          picture 
            source.about__img-two(srcset="images/photo-2.webp" type="image/webp")
            img.about__img-two(src="images/photo-2.jpg", alt="Photo") 
        .about__box-number 
          span.about__number 15
          span.about__descr лет в этой сфере
    .about__info 
      ul.about__list
        li.about__list-item 
          p.about__list-number 125
          span.about__list-text Счастливых клиентов
        li.about__list-item 
          p.about__list-number 250
          span.about__list-text Успешных проектов
        li.about__list-item 
          p.about__list-number 40
          span.about__list-text Сотрудников
        li.about__list-item 
          p.about__list-number 20
          span.about__list-text Наград
.consultation
  .container 
    .consultation__content
      span.subtitle Ну давай же! мы не кусаемся :)
      h2.title.consultation__title Получить консультацию
      a.consultation__link(href="#") Начать!