section.benefits
  .container 
    .benefits__inner 
      .benefits__content 
        span.subtitle Преимущества
        h2.benefits__title.title Почему именно мы
        p.benefits__text Мы давно в этой сфере, поэтому знаем все тонкости и нюансы данной работы.
        p.benefits__text В нашей команде только профессионалы с огромным опытом работы. Мы педоставляем только качественные услуги, после которых Ваш бизнес пойдет в гору. Особый подход и быстрый результат - это то, что мы можем Вам гарантировать!
        ul.benefits__list
          li.benefits__item Интеграция с серверными системами
          li.benefits__item Аутентификация-авторизация пользователя
          li.benefits__item Услуги передачи данных
      .dividents 
        .dividents__item 
          img.dividents__img(src="../images/icon/icon-1.svg", alt="icon")
          span.dividents__descr Огромный опыт
        .dividents__item 
          img.dividents__img(src="../images/icon/icon-2.svg", alt="icon")
          span.dividents__descr Маркетинг и стратегия
        .dividents__item 
          img.dividents__img(src="../images/icon/icon-3.svg", alt="icon")
          span.dividents__descr Отличная команда
        .dividents__item 
          img.dividents__img(src="../images/icon/icon-4.svg", alt="icon")
          span.dividents__descr Современные технологии
