section.contact
  .container 
    .box-title
      span.subtitle на связи
      h2.contact__title.title Контакты
    p.contact__text Мы постарались предоставить вам самую необходимую информацию, чтобы вам было проще связаться с нами любым удобным для вас способом.
    .contact__items 
      .contact__item  
        img.services__img(src="../images/icon/phone.svg", alt="icon")
        h3.contact__item-title Позвонить
        p.contact__descr Телефон:
          a(href="tel:165477898") +1 6547 78 98
        p.contact__descr Факс:
          span +1 6547 88 99
      .contact__item  
        img.services__img(src="../images/icon/message.svg", alt="icon")
        h3.contact__item-title Написать
        p.contact__descr Skype:
          span desart_agency
        p.contact__descr Телеграм:
          a(href="#") @desart 
      .contact__item  
        img.services__img(src="../images/icon/marker.svg", alt="icon")
        h3.contact__item-title Адрес
        p.contact__descr Адресс:
          span Россия, Чебоксары, Ул. Калинина
      .contact__item  
        img.services__img(src="../images/icon/time.svg", alt="icon")
        h3.contact__item-title Рабочие часы
        p.contact__descr Пн-Пт:
          span с 9:00-16:00
        p.contact__descr Сб-Вс:
          span выходной
        


.map#map 

