footer.footer
  .container 
    .footer__top(data-aos="fade-down") 
      a.logo(href="#top")
        img(src="images/logo-min.png", alt="logo")
      ul.menu__list 
        li.menu__item
          a.menu__link(href='#top') Главная
        li.menu__item
          a.menu__link(href='#about') О нас
        li.menu__item
          a.menu__link(href='#services') Услуги
        li.menu__item
          a.menu__link(href='#team') Команда
        li.menu__item
          a.menu__link(href='#contact') Контакты
    .footer__inner(data-aos="fade-up" data-aos-delay="200") 
      .footer__about 
        h3.footer__title О нас
        p.footer__text Мы получили множество наград за нашу работу и разработку приложений. Мы стараемся не упускать важные детали в каждой сфере.
        .footer__links 
          a.footer__link(href="#") 
            img(src="images/icon/fb.svg", alt="icon-social")
          a.footer__link(href="#") 
            img(src="images/icon/in.svg", alt="icon-social")
          a.footer__link(href="#") 
            img(src="images/icon/tw.svg", alt="icon-social")
          a.footer__link(href="#") 
            img(src="images/icon/pint.svg", alt="icon-social")
          a.footer__link(href="#") 
            img(src="images/icon/be.svg", alt="icon-social")
      .footer__services
        .footer__title Услуги
        ul.footer__services-list
          li.footer__services-item
            a.footer__services-link(href="#") Фирменный стиль
          li.footer__services-item
            a.footer__services-link(href="#") Маркетинг
          li.footer__services-item
            a.footer__services-link(href="#") Приложения
          li.footer__services-item
            a.footer__services-link(href="#") Коммерция
          li.footer__services-item
            a.footer__services-link(href="#") СЕО и СММ
      .footer__contact 
        .footer__title Контакты
        p.footer__address.footer__contact-item Россия, Чебоксары, Ул. Калинина
        a.footer__tel.footer__contact-item(href="tel:165489621") +1 6548 96 21
        a.footer__email.footer__contact-item(href="mailto:info@sitename.com") info@sitename.com
  .footer__bottom 
    .container 
      .footer__bottom-box 
        p.footer__bottom-copy © Copyright 2019 Coolbabka
        .footer__bottom-links 
          a.footer__bottom-link(href="#") Privacy Policy
          a.footer__bottom-link(href="#") Terms and Conditions

            

             