
.newsletter
  .newsletter__wrapper
    .container 
      span.newsletter__subtitle.subtitle Новости
      h2.newsletter__title.title Хотите всегда быть в курсе?
      form.newsletter__form(action="#")
        input.newsletter__input(type="text" placeholder="Ваш email") 
        button.newsletter__btn(type="submit") Подписаться
  picture 
    source.newsletter__img(srcset="images/photo-3.webp" type="image/webp")
    img.newsletter__img(src="images/photo-3.jpg", alt="Photo") 