section.offer
  .container 
    .box-title
      span.subtitle Наши предложения
      h2.offer__title.title Наши услуги для вашего бизнеса
    .offer__items 
      .offer__item
        a.offer__item-link(href="#") 
          img.offer__img(src="../images/icon/icon-8.svg", alt="icon")
          p.offer__text Фирменный стиль
      .offer__item
        a.offer__item-link(href="#") 
          img.offer__img(src="../images/icon/icon-9.svg", alt="icon")
          p.offer__text Маркетинг
      .offer__item
        a.offer__item-link(href="#") 
          img.offer__img(src="../images/icon/icon-10.svg", alt="icon")
          p.offer__text Приложения
      .offer__item
        a.offer__item-link(href="#") 
          img.offer__img(src="../images/icon/icon-11.svg", alt="icon")
          p.offer__text Коммерция
      .offer__item
        a.offer__item-link(href="#") 
          img.offer__img(src="../images/icon/icon-12.svg", alt="icon")
          p.offer__text Целевые страницы
      .offer__item
        a.offer__item-link(href="#") 
          img.offer__img(src="../images/icon/icon-13.svg", alt="icon")
          p.offer__text СЕО и СММ
      
