section.services#services
  .container 
    .box-title 
      span.subtitle Наши услуги
      h2.services__title.title Мы разрабатываем цифровые продукты
    .services__items 
      .services__item(data-aos="fade-down") 
        img.services__img(src="images/icon/icon-5.svg", alt="icon")
        h3.services__item-title.title UI/UX дизайн
        p.services__text Все начинается с прекрасного. И здесь очень важен профессиональный дизайн.
        a.read(href="#") Подробнее
      .services__item(data-aos="fade-down" data-aos-delay="600") 
        img.services__img(src="images/icon/icon-6.svg", alt="icon")
        h3.services__item-title.title Веб-разработка
        p.services__text Наши разработчики внимательно рассматривают работоспособность продукта.
        a.read(href="#") Подробнее
      .services__item(data-aos="fade-down" data-aos-delay="1000") 
        img.services__img(src="images/icon/icon-7.svg", alt="icon")
        h3.services__item-title.title SEO оптимизация
        p.services__text Продвижение вашего продукта - важный шаг к заработку и  популярности среди потребителей.
        a.read(href="#") Подробнее