section.talk
  .container 
    .talk__content(data-aos="zoom-in-up")
      .box-title 
        span.subtitle Поговорим
        h2.talk__title.title Отправьте нам сообщение
      p.talk__text Мы всегда рады поговорить с вами. Обязательно напишите нам, если у   вас возникнут вопросы или вам понадобится помощь и поддержка.
      form.talk__form(action="#") 
        .talk__input-box 
          input.talk__input(type="text" placeholder="Ваше Имя" required ) 
          input.talk__input(type="text" placeholder="Ваша фамилия" required ) 
          input.talk__input(type="email" placeholder="Ваш email" required ) 
          input.talk__input(type="number" placeholder="Ваш номер" required ) 
        textarea.talk__textarea(placeholder="Ваш email" required )
        button.talk__btn(type="submit" required) Отправить