
section.team#team 
  .container 
    .box-title 
      span.subtitle Команда
      h2.team__title.title Эксперты в своей области 
    p.team__text Над вашим продуктом будут работать лучшие профессионалы. Можно смело сказать, что успех вашему бизнесу гарантирован.
  .team-slider.swiper
    .swiper-wrapper
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-1.webp" type="image/webp")
            img.team-slider__img(src="images/team-1.jpg", alt="Photo") 
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Елизавета Маркова
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social")
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-2.webp" type="image/webp")
            img.team-slider__img(src="images/team-2.jpg", alt="Photo") 
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Антон Дмитриев
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social")
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-3.webp" type="image/webp")
            img.team-slider__img(src="images/team-3.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Алиса Кравец
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social") 
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-4.webp" type="image/webp")
            img.team-slider__img(src="images/team-4.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Денис Петров
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social") 
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-5.webp" type="image/webp")
            img.team-slider__img(src="images/team-5.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Марк Иванов
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social") 
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-6.webp" type="image/webp")
            img.team-slider__img(src="images/team-6.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Василий Николаев
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social") 
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-7.webp" type="image/webp")
            img.team-slider__img(src="images/team-7.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Григорий Морозов
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social")  
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-8.webp" type="image/webp")
            img.team-slider__img(src="images/team-8.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Сергей Вазовский
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social")  
      .swiper-slide
        .team-slider__images 
          picture 
            source.team-slider__img(srcset="images/team-5.webp" type="image/webp")
            img.team-slider__img(src="images/team-5.jpg", alt="Photo")
          .swiper-slide__author 
            .swiper-slide__author-name 
              a.swiper-slide__name(href="#")  Марк Иванов
            .swiper-slide__social 
              a.footer__link(href="#") 
                img(src="images/icon/fb.svg", alt="icon-social")
              a.footer__link(href="#") 
                img(src="images/icon/in.svg", alt="icon-social")  
    .swiper-pagination
    